:root {
  /* color variables */
  --primary-color: hsl(235, 21%, 11%);
  --secondary-color: hsl(235, 24%, 19%);

  --primary-font-color: hsl(236, 33%, 92%);
  --secondary-font-color: hsl(234, 39%, 85%);

  --blue: hsl(220, 98%, 61%);
  --green: #53d4ba;
  --orange: #f39c12;

  /* Font varaibles */
  --font-family: "Josefin Sans", sans-serif;
  --base-font-size: 1.8rem;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
}
